.link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.link:active {
    opacity: 0.5;
}